@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* custom styles and classes */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.max-width {
  max-width: 1440px;
}


.H0 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0%;
  text-align: center;
}

.H1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0%;
}

.P1 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}

.p2-bold {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}

.P2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0%;
}

.P3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

}

.P4 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;

}

.P5 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.L1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}

.L2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}

.L3 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
}

.L4 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}

.button-primary {
  width: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  background-color: #199FB1;
  border-radius: 10px;
  color: #fff;
}